h1 {
    text-align: center;
}

body {
    background: url("..\\images\\cloudy-day.png");
}

th,
td {
    padding: 10px;
}

th {
    font-weight: bold;
}

.wrapper {
    margin: 0 auto;
    width: 97%;
}

#trainTable {
    font-family: arial, sans-serif;
    width: 100%;
}

#trainForm {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

#trainForm input {
    width: 100%;
    padding: 0 3px;
    border-radius: 3px;
    border: 1px solid steelblue;
}

#trainForm button {
    grid-column: span 2;
    border: 1px solid steelblue;
}